<app-navbar></app-navbar>

<div class="text-center m-3">
    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAddCompany">Agregar empresa</button>
</div>
<hr>
<div class="row justify-content-center px-4">
    <div *ngFor="let company of companies" class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ company.name }}</h5>
            <p class="card-subtitle mb-2 text-muted fst-italic">{{ company._id }}</p>
            <p class="card-subtitle mb-2"> Tipo de empresa: {{ company.typeOfCompany }} </p>
            <p class="card-subtitle mb-2"> Nombre de usuario: {{ company.username }} </p>
            <p class="card-subtitle mb-2"> Correo: {{ company.email }} </p>
            <p class="card-subtitle mb-2"> Teléfono: {{ company.phone }} </p>
            <p class="card-subtitle mb-2"> Rol: {{ company.role }} </p>
            <div *ngIf="company.role === 'COMPANY'" class="btn-group d-flex" role="group">
                <button (click)="getUserAdmin(company._id)" class="btn btn-warning flex-grow-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasGetCompany" aria-controls="offcanvasGetCompany">Editar</button>
                <button (click)="deleteUserAdmin(company._id)" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal add company-->
<div class="modal fade" id="modalAddCompany" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #addCompanyForm="ngForm">
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input [(ngModel)]="company.name" name="name" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tipo de empresa</label>
                        <input [(ngModel)]="company.typeOfCompany" name="typeOfCompany" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre de usuario</label>
                        <input [(ngModel)]="company.username" name="username" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo electrónico</label>
                        <input [(ngModel)]="company.email" name="email" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contraseña</label>
                        <input [(ngModel)]="company.password" name="password" type="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Teléfono</label>
                        <input [(ngModel)]="company.phone" name="phone" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Rol</label>
                        <select [(ngModel)]="company.role" name="role" class="form-select">
                            <option value="ADMIN">ADMIN</option>
                            <option value="COMPANY">COMPANY</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Descartar cambios</button>
                        <button type="submit" (click)="addUserAdmin(addCompanyForm)" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas get user-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasGetCompany" aria-labelledby="offcanvasGetCompany">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasGetCompany">Editar usuario</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form (ngSubmit)="updateUserAdmin()" *ngIf="companyGetId">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input [(ngModel)]="companyGetId.name" name="name" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Tipo de empresa</label>
                <input [(ngModel)]="companyGetId.typeOfCompany" name="typeOfCompany" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Nombre de usuario</label>
                <input [(ngModel)]="companyGetId.username" name="username" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Correo electrónico</label>
                <input [(ngModel)]="companyGetId.email" name="email" type="email" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Teléfono</label>
                <input [(ngModel)]="companyGetId.phone" name="phone" type="tel" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Rol</label>
                <select [(ngModel)]="companyGetId.role" name="role" class="form-select">
                    <option value="ADMIN">ADMIN</option>
                    <option value="COMPANY">COMPANY</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Descartar cambios</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="offcanvas">Actualizar cambios</button>
            </div>
        </form>
    </div>
</div>